html {
    height: 100%;
    background: linear-gradient(75deg, #f04040, #2f87eb);
    background-size: 500% 500%;
    animation: BackgroundGradient 30s ease infinite;
}

.black-trans {
    background-color: rgba(0, 0, 0, 0.4);
}

.inb {
    display: inline-block;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}