html {
    height: 100%;
    background: linear-gradient(75deg, #f04040, #2f87eb);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
}

textarea {
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

.margin-vert {
    margin-top: 16px;
    margin-bottom: 16px;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}