input::placeholder {
    color: #666666;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

.row {
    margin-bottom: 8px;
}

.row .col {
    padding: 0 0.25rem;
}

.margin-bot {
    margin-bottom: 16px;
}

.no-click {
    cursor: default;
}

.input-field {
    margin-top: auto;
    margin-bottom: auto;
}

.select-wrapper input.select-dropdown,
.input-field>input[type=text]:not(.browser-default) {
    height: 2rem;
}

.solid {
    min-height: 3rem;
}