html {
    height: 100%;
    background: linear-gradient(75deg, #f04040, #2f87eb);
    background-size: 500% 500%;
    animation: BackgroundGradient 30s ease infinite;
}

input::placeholder,
label {
    color: #666666;
}

textarea.materialize-textarea {
    padding: 0;
    min-height: 0;
    height: 2rem;
}

input[type=text]:not(.browser-default):disabled,
textarea.materialize-textarea:disabled {
    color: #000000;
}

.black-trans {
    background-color: rgba(0, 0, 0, 0.4);
}

.inb {
    display: inline-block;
}

.btn-flat {
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}

.waves-red {
    color: #006d75;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.select-dropdown.dropdown-content {
    background-color: rgba(223, 223, 223, 0.95);
    min-width: 50px;
}

.select-dropdown.dropdown-content li>span {
    color: #000000;
}

.collapsible {
    border: none;
    box-shadow: none;
}

.collapsible-header {
    background-color: inherit;
}

.collapsible-body {
    padding: 0.5rem 1rem;
}

.no-pad {
    padding: 0;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

.cont {
    padding-bottom: 6px;
}

.row {
    margin-bottom: 8px;
}

.row .col {
    padding: 0 0.25rem;
}

.margin-bottom {
    margin-bottom: 16px;
}

.no-click {
    cursor: default;
    text-transform: none;
}

.input-field {
    margin-top: auto;
    margin-bottom: auto;
}

.select-wrapper input.select-dropdown,
.input-field>input[type=text]:not(.browser-default) {
    height: 2rem;
}

.solid {
    min-height: 3rem;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}